.omov__button {
    width: 150px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-shadow: 0px 40px 40px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: background-color ease 200ms;
}

.omov__button:hover{
    background-color: #2a2a2a42;
}

.gradient {
    box-sizing: content-box;
    border-width: 1px;
    border-style: solid;
    border-image: var(--color-gradient);
    border-image-slice: 1;
    box-shadow: 0px 16px 16px 4px rgba(0, 0, 0, 0.12);
}