.omv__section-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding-bottom: 10px;
}

.omv__section h4{
        color: #fff;
        font-size: 18px;
        margin-left:25px;
        font-weight: 600;
}