.omv__footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 50% 50%, rgba(16, 16, 16, 1) 9%, rgba(21, 21, 21, 1) 30%, rgba(21, 21, 21, 1) 72%, rgba(16, 16, 16, 1) 96%);
}

.omv__footer h2 {
    width: max-content;
    background: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    margin: 20px 10px;
    font-weight: 300;
}

.omv__footer img {
    width: 8%;
    height: 8%;
}

@media screen and (max-width:1000px) {
    .omv__footer h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width:750px) {
    .omv__footer h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:500px) {
    .omv__footer h2 {
        font-size: 1.3rem;
    }
}